/*body{
    background-image: url("images/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}*/
.w3-link{
    text-decoration: none;
}
.obrazok{
    opacity: 10%;
    position: center;
    width: 1425px;
    height: 620px;
}
.nadpis{
    color: red;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}